  /* Landing Page Elements */
  .landing__container {
    width: 100vw;
    height: 90vh;
    padding: 0 auto;
    overflow: scroll;
    background-color:  #fbf9fa;
    position: fixed;
    top:5vh;
}

.landing__container::-webkit-scrollbar {
    display: none;
}


.carousel__content {
    height: 500px;
    width: 100%;
}

.carousel__image {
    object-fit:cover;
    height: 500px;
    width: 100%;
}

.row.about__title__header {
    background-color: #fd0054;
    color:  #fbf9fa;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    padding: 15px;
    margin-right: 0px;
    margin-left: 0px;
}


.about__container {
    margin: 0px;
    width: 100%;
}


.about__main {
    padding: 25px 50px;
}