* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    max-width: 1600px;
}

body::-webkit-scrollbar {
    display: none;
}

i.fas.fa-user-edit {
    height: 5px;
    width: 5px;
}


.row {
    margin-left: 0px;
    margin-right: 0px;
}

.options__footer {
    text-align: end;
}

/* All pages except the landing page are contained within this container */

.row.main__container {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 50px;
    margin: 0 auto;
    background-color: #fbf9fa;
    position: fixed;
    top: 5vh;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
}


button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.gig__thumb, .create__post__thumb, .image__thumb {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit:cover;
}